/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/
html, body {
    height: 100%;
}
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: -140px;
}
#footer, #push {
    height: 140px;
    clear: both;
}

body{
    font-family: sans-serif;
    line-height: 30px;
    margin: 0!important;
}
#main {
    width: 500px;
    margin: 0 auto;
    padding-top: 21px;
}
h1{
    background: url(../img/48.png) no-repeat;
    padding-left: 60px;
    height: 43px;
    margin-top: 0;
    padding-top: 7px;
}
legend, #test, #save{
    font-weight: bolder;
    font-size: 18px;   
}
fieldset{
    padding: 10px 15px 20px 15px;
    border: 1px solid #000;
}
div.hr{
    margin: 18px 0;
    border-top: 1px solid #000;
}
input[type="text"] {
    width: 290px;
    float: right;
}

input[type="radio"] {
    margin-left: 20px;
}
input[type="radio"] {
    margin-left: 20px;
}
.bold, span.help {
    font-weight: bolder;
}
span.help {
    float: right;
    color: #5959ff;
}
span.help:hover{
    color: #000;
    cursor: pointer;
}
.margin {
    margin-left: 20px;
}

input.format {
    width: 220px;
}
div.help-box {
    display: none;
}
.button {
    height: 40px;
    background: #5959ff;
    color: #fff;
    border: none;
    display: block;
    margin: 10px 2px 0 0;
    font-weight: bolder;
    font-size: 18px;  
    text-align: center;
}
a.button {
    padding-top: 5px;
    height: 35px;
}

#tokens label a {
    color: #000;
    text-decoration: none;
}

#tokens label a:hover{
    text-decoration: underline;
}

#save {
    float: right;
    width: 130px;
    margin-top: 20px;
}
.button:hover{
    background: #000;
    cursor: pointer;
}
#restore_defaults {
    margin: 25px 0 0 1px;
    font-weight: bolder;
    color: #5959ff;
    float: left;
    cursor: pointer;
}
#restore_defaults:hover {
    color: #000;
}
#buttons {
    margin-bottom: 20px;
}
#footer{   
    width: auto;    
    background: #000;    
}
#logo{
    display: block;
    width: 91px;
    height: 100px;
    background: url(../img/logo.png) no-repeat;
    text-indent: -5000px;
    margin: 0 auto;
}
#inFooter{
    width: 960px;
    margin: 0 auto;
    height: 120px;
    padding-top: 20px;
}

#save.saved{
    background: url(../img/check.png) no-repeat left center;
    color: #000!important;
    font-weight: bold;
    padding-left: 35px;
    cursor: default;
}

.token {
    background-position: right center; 
    background-repeat: no-repeat;
    width: 160px;
    display: inline-block;
}

.token.loading {
    background-image: url(../img/loading.gif);
}

.token.ok {
    background-image: url(../img/ok.png);
}

.token.error {
    background-image: url(../img/error.png);
}


#tokens_auto {
    float: right;
    width: 130px;
}

#tokens_auto_description {
    float: left;
    font-weight: bolder;
    padding-top: 18px;
}